<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/admin/html-invoice.css">
<title><%= I18n.t("#{params[:template]}.header") %></title>
<style type="text/css">
<!--
.body {font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 12px; }
.title { font-weight: bold; color: #FF9933; font-size: 18px; }
.bold { font-weight: bold; }
.cell { ; }
-->
</style>
</head>

<body>
  <div class="a4">
    <div class="header">
      <%= render :partial => "header" %>
    </div>
    <div class="address">
      <%= render :partial => "address" %>
    </div>
    <div class="wrapper">
      <div class="line_items">
        <%= render :partial => "line_items" %>
      </div>
      <div class="bye">
        <%= render :partial => "bye" %>
      </div>
      <div class="spacer"> &nbsp;
      </div>
      <div class="totals">
        <%= render :partial => "totals" %>
      </div>
    </div>
    <div class="footer">
      <%= render :partial => "footer" %>
    </div>
  </div>
</body>
</html>

